*.swp
*.o
*.obj
*.deps
angband.res
hengband.ilc
hengband.ild
hengband.ilf
hengband.ils
hengband.tds
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
depcomp
hengband
install-sh
lib/Makefile
lib/Makefile.in
lib/apex/Makefile
lib/apex/Makefile.in
lib/apex/scores.raw
lib/bone/Makefile
lib/bone/Makefile.in
lib/data/Makefile
lib/data/Makefile.in
lib/data/a_info_j.raw
lib/data/d_info_j.raw
lib/data/e_info_j.raw
lib/data/f_info_j.raw
lib/data/k_info_j.raw
lib/data/m_info_j.raw
lib/data/r_info_j.raw
lib/data/s_info_j.raw
lib/data/v_info_j.raw
lib/data/z_info_j.raw
lib/edit/Makefile
lib/edit/Makefile.in
lib/file/Makefile
lib/file/Makefile.in
lib/help/Makefile
lib/help/Makefile.in
lib/info/Makefile
lib/info/Makefile.in
lib/pref/Makefile
lib/pref/Makefile.in
lib/save/1000.Motemen
lib/save/Makefile
lib/save/Makefile.in
lib/script/Makefile
lib/script/Makefile.in
lib/user/Makefile
lib/user/Makefile.in
lib/xtra/Makefile
lib/xtra/Makefile.in
lib/xtra/font/Makefile
lib/xtra/font/Makefile.in
lib/xtra/graf/Makefile
lib/xtra/graf/Makefile.in
lib/xtra/music/Makefile
lib/xtra/music/Makefile.in
lib/xtra/sound/Makefile
lib/xtra/sound/Makefile.in
missing
src/Makefile
src/Makefile.in
src/autoconf.h
src/autoconf.h.in
src/hengband
src/stamp-h1
src/tags
src/lua/CVS
*TAGS
src/lua/liblua.a
src/lua/tolua
src/l-player.c
src/l-ui.c
src/l-object.c
src/l-monst.c
autom4te.cache
